.paypalprefs{
    text-align: center;
}

#paypal{
    text-align: center;
}

.img-dup {
    float: right;
}

#paypal_form {
    margin-left: 20%;
    margin-right: 20%;
}

#ppaypal {
    background-image:url(images/paypal.png), url("../../../../themes/default/jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#ppaypal.ui-state-hover {
    background-image:url(images/paypal.png), url("../../../../themes/default/jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}
